*.iml
.gradle
/local.properties
/keystore.properties
/token.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/build
/captures
/results
/schema
/.idea/AndroidProjectSystem.xml
