body, html {
    background-color: #24292E;
    color: #FFFFFF;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.panel {
    display: table;
    text-align: center;
    height: 100%;
    width: 100%;
}

.panel > span {
    display: table-cell;
    vertical-align: middle;
    line-height: normal;
    width: 100%;
}
